html {
   box-sizing: border-box;
   background-color: #333333;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #333333;
}

ul {
   list-style: none;
}

.container {
   max-width: 1220px;
   padding: 20px 10px;
   margin: 0 auto;
}

.cards-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.small-text {
   font-size: 11px;
   font-weight: 700;
}

.search-bar {
   display: flex;
   justify-content: center;
   &__input {
      font-size: 16px;
      background-color: rgb(238, 238, 238);
      width: 400px;
      height: 50px;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      margin-bottom: 30px;
   }
}

.filter-form {
   color:rgb(238, 238, 238);
   margin: 0 auto 30px;
   max-width: 800px;
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   &__group {
      margin-bottom: 10px;
   }
   &__block1 {
      width: 330px;
      margin-right: 50px;
   }
   button {
      text-align: center;
      display: block;
      text-decoration: none;
      font-weight: 700;
      padding: 3px 6px;
      background: #eaeef1;
      width: 120px;
      height: 40px;
      margin: 20px auto;
      background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
      border-radius: 5px;
      color: rgba(0,0,0,.6);
      text-shadow: 0 1px 1px rgba(255,255,255,.7);
      box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
      cursor: pointer;
      &:hover {
         background: #fff;
         text-shadow: none;
         box-shadow: none;
      }
   }
}

.filter-fieldset {
   padding: 20px;
   legend {
      font-weight: 700;
      padding: 0 5px;
   }
   input {
      width: 150px;
      height: 26px;
   }
}

.card-block {
   display: flex;
   flex-direction: column;
   width: 550px;
   height: 550px;
   box-shadow: 0 2px 6px 1px rgba(255, 255, 255, 0.3);
   padding: 20px;
   margin-bottom: 30px;
   background-color: rgb(238, 238, 238);

   &__img {
      height: 200px;
      width: fit-content;
      margin: 0 auto 20px;
   }

   &__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
   }

   &__descr {
      text-align: justify;
   }

   &__small {
      font-weight: 400;
      line-height: 200%;
      padding: 3px;
      background-color: #f06e6e;
      margin-right: 5px;
   }

   p {
      margin-bottom: 5px;
   }
}

.search-result {
   color:rgb(238, 238, 238);
}