html {
   box-sizing: border-box;
   background-color: #630070;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #333333;
}

ul {
   list-style: none;
}

button {
   text-align: center;
   text-decoration: none;
   font-weight: 700;
   padding: 3px 6px;
   background: #eaeef1;
   width: 100px;
   height: 40px;
   margin: 20px;
   background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
   border-radius: 5px;
   color: rgba(0,0,0,.7);
   text-shadow: 0 1px 1px rgba(255,255,255,.7);
   box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
   cursor: pointer;
   &:hover {
      background: #fff;
      text-shadow: none;
      box-shadow: none;
   }
}

.prev-next-buttons {
   text-align: center;
   margin-bottom: 20px;
}

.container {
   max-width: 1220px;
   padding: 30px 10px;
   margin: 0 auto;
}

.page-wrapper {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-duration: 1.5s;
   animation-duration: 1.5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   }
   @-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
   }
   @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
   } 

.cards-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.small-text {
   font-size: 11px;
   font-weight: 700;
}

.search-bar {
   display: flex;
   justify-content: center;
   &__input {
      font-size: 16px;
      background-color: rgb(238, 238, 238);
      width: 400px;
      height: 50px;
      border-radius: 10px;
      padding: 10px;
      outline: none;
      margin-bottom: 20px;
   }
}

.filter-form {
   color:rgb(238, 238, 238);
   margin: 0 auto 30px;
   max-width: 800px;
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      @media screen and (max-width: 550px) {
         flex-direction: column;
         align-items: center;
      }
   }
   &__group {
      margin-bottom: 10px;
   }
   &__block1 {
      width: 330px;
      margin-right: 50px;
      @media screen and (max-width: 550px) {
         margin-right: 0;
         width: fit-content;
      }
   }
   .form-buttons {
      display: flex;
      justify-content: center;
      button {
         @media screen and (max-width: 550px) {
            margin: 15px;
         }
      }
   }
}

.filter-fieldset {
   padding: 20px;
   @media screen and (max-width: 550px) {
      padding: 10px 5px;
   }
   legend {
      font-weight: 700;
      padding: 0 5px;
   }
   input {
      width: 150px;
      height: 26px;
      @media screen and (max-width: 550px) {
         width: 100px;
      }
   }
}

.card-block {
   display: flex;
   flex-direction: column;
   width: 550px;
   height: 550px;
   box-shadow: 0 2px 6px 1px rgba(255, 255, 255, 0.3);
   padding: 20px;
   margin-bottom: 30px;
   background-color: rgb(238, 238, 238);
   &__img {
      height: 200px;
      width: fit-content;
      margin: 0 auto 20px;
   }
   &__title {
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
   }
   &__descr {
      text-align: justify;
   }
   &__small {
      font-weight: 400;
      line-height: 200%;
      padding: 3px;
      background-color: #f06e6e;
      margin-right: 5px;
   }
   p {
      margin-bottom: 5px;
   }

   @media screen and (max-width: 1130px) {
      height: fit-content;
   }
}

.search-result {
   color:rgb(238, 238, 238);
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 20px;
   &__pages {
      margin-bottom: 10px;
   }
   &__button {
      width: 30px;
      height: 30px;
      margin: 0;
   }
   &__button-current {
      width: 35px;
      height: 35px;
      font-weight: 700;
      background: rgb(223, 223, 223);
      margin: 0;
   }
}

.loader {
   text-align: center;
}

.lds-spinner {
   color: official;
   display: inline-block;
   position: relative;
   width: 80px;
   height: 80px;
   margin: 0 auto;
}

.lds-spinner div {
   transform-origin: 40px 40px;
   animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
   content: " ";
   display: block;
   position: absolute;
   top: 3px;
   left: 37px;
   width: 6px;
   height: 18px;
   border-radius: 20%;
   background: #fff;
}

.lds-spinner div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
   transform: rotate(30deg);
   animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
   transform: rotate(60deg);
   animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
   transform: rotate(90deg);
   animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
   transform: rotate(120deg);
   animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
   transform: rotate(150deg);
   animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
   transform: rotate(180deg);
   animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
   transform: rotate(210deg);
   animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
   transform: rotate(240deg);
   animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
   transform: rotate(270deg);
   animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
   transform: rotate(300deg);
   animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
   transform: rotate(330deg);
   animation-delay: 0s;
}

@keyframes lds-spinner {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}